In [1]:
import os
os.chdir('..')
os.getcwd()

'/mnt/c/Users/lilian/Desktop/Programming/ExistenzAPIFetcher'

In [3]:
import pandas as pd

d = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data=d)

In [4]:
df

   col1  col2
0     1     3
1     2     4

In [5]:
print(df)

   col1  col2
0     1     3
1     2     4